@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}

$hundred: 100%;
$primaryColor: #16171c;
$lightAccent: #787582;
$lightShade: #f0eae7;
$darkAccent: #4b7396;
$darkShade: #141319;

.page {
  &-home,
  &-about,
  &-works,
  &-contact {
    width: $hundred;
    height: $hundred;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
  }

  &-home {
    background-color: $primaryColor;
    color: $lightShade;
  }

  &-about {
    background-color: $lightShade;
    color: $primaryColor;
  }

  &-works {
    background-color: $darkAccent;
    color: $lightShade;
  }

  &-contact {
    background-color: $lightAccent;
    color: $lightShade;
  }

  &-enter {
    animation: slideInBot 700ms forwards;
  }
  &-exit {
    animation: slideOutBot 700ms forwards;
  }
}

@keyframes slideInBot {
  from {
    @include transform(translate3d(0, $hundred, 0));
    visibility: visible;
  }

  to {
    @include transform(translate3d(0, 0, 0));
  }
}

@keyframes slideOutBot {
  from {
    @include transform(translate3d(0, 0, 0));
  }

  to {
    visibility: hidden;
    @include transform(translate3d(0, $hundred, 0));
  }
}
