@mixin box-shadow($property) {
  -webkit-box-shadow: $property;
  -moz-box-shadow: $property;
  box-shadow: $property;
}

@mixin grid-area($column, $row) {
  grid-column: $column;
  grid-row: $row;
}

@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}

$primaryColor: #16171c;
$lightAccent: #787582;
$lightShade: #f0eae7;
$darkAccent: #4b7396;
$darkShade: #0a0a0a;

.btn {
  &-link {
    font-size: 120%;
    text-decoration: none;
    border: none;
    background-color: $darkShade;
    color: $lightShade;
    font-weight: 100;
    padding: 12px;
    text-transform: uppercase;
    border-radius: 6px;

    &:hover {
      color: $darkShade;
      font-weight: 700;
      letter-spacing: 3px;
      background: $lightShade;
      @include box-shadow(0 5px 40px -10px rgba(0, 0, 0, 1));
      transition: all 500ms ease;
    }
  }

  &-disabled {
    background-color: $lightShade;
    color: $darkShade;

    &:hover {
      font-weight: 100;
      letter-spacing: 0;
      cursor: default;
      @include box-shadow(0 0 0 0);
    }
  }
}

.nav {
  &-container {
    user-select: none;
  }

  &-home {
    @include grid-area((btn-start 2 / btn-end 2), (btn-start 1 / btn-end 1));
  }

  &-about {
    @include grid-area((btn-start 2 / btn-end 2), (btn-start 3 / btn-end 3));
  }

  &-works {
    @include grid-area((btn-start 3 / btn-end 3), (btn-start 2 / btn-end 2));
    align-self: center;
    justify-self: center;

    .btn-link {
      display: block;
      @include transform(rotate(90deg));
    }
  }

  &-contact {
    @include grid-area((btn-start 1 / btn-end 1), (btn-start 2 / btn-end 2));
    align-self: center;
    justify-self: center;

    .btn-link {
      display: block;
      @include transform(rotate(-90deg));
    }
  }
}

@media all and (max-width: 1220px) {
  .nav {
    &-works {
      position: relative;

      .btn-link {
        position: absolute;
        left: -55px;
        top: -20px;
        background: unset;

        &:hover {
          background: $lightShade;
        }
      }
    }

    &-contact {
      position: relative;

      .btn-link {
        position: absolute;
        left: -40px;
        top: -20px;
        background: unset;

        &:hover {
          background: $lightShade;
        }
      }
    }
  }
}
